/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: transparent !important;
}

.navbar-nav .nav-link {
    color: black !important;
}
/* Global Styles */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #529929;
    color: #343a40;
    background-image: url(pexels-edward-jenner-4252525.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.nav-link{
    color: #070707;
}

.container-fluid {
    margin-top: 0%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#f6f3f4;
    color: black;
    border-style: none;
    border-color: #edd7e2;
}
.container1{
    margin-top: 0%;
    margin-bottom: 0%;
}
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #070707;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: #cdf5d2;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #0f0f0f;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #0d0d0d;
}

/* Add more styles for the rest of your content, such as cards, sections, etc. */

/* Footer Styles */
.footer {
    /background-color: #343a40;/
    color: #121212;
    padding: 20px 0;
    text-align: center;
}

.footer p {
    margin-bottom: 10px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer li {
    display: inline-block;
    margin-right: 10px;
}

.footer a {
    text-decoration: none;
    color: #131313;
}

.footer a:hover {
    text-decoration: underline;
}
